






/* ==========================================================================
   Debug Styles
   ========================================================================== */
#debug-message {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 9999;
    padding: 10px;
    width: auto;
    height: auto;
    font-size: 12px;
    color: #fff;
    background: pink;
    p {
        margin: 0;
    }
    .small, .medium, .large, .exlarge {
        display: none;
    }
    .small {
        display: block;
    }
}