






/* ==========================================================================
   Debug Styles
   ========================================================================== */
#debug-message {
    background: lightblue;
    .small, .large, .exlarge {
        display: none;
    }
    .medium {
        display: block;
    }
}